<!DOCTYPE html>
<html>
  <head>
    <title>RacePace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :javascript %>
  </head>
  <body>
    <div id="container">
      <div id="top_content">
        <canvas id="plot"></canvas>
        <div class="banner">
          <h1>RacePace</h1>
        </div>
        <div class="stats">
          <div style="text-align: right">Coordinate placeholder</div>
          <div style="text-align: right">y=<span title="" class="a-coef"></span>x^<span title="" class="b-coef"></span></div>
          <div style="text-align: right">r^2=<span title="" class="r-coef"/></div>
        </div>
      </div>
      <div id="bottom_content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
